.blogposts123-container img,
.blogposts123-container code,
.blogposts123-container h2,
.blogposts123-container hr,
.blogposts123-container p,
.blogposts123-container blockquote,
.blogposts123-container h3,
.blogposts123-container ul,
.blogposts123-container li {
  margin-top: 0;
  margin-bottom: 0;
}
.blogposts123-container blockquote {
  border-left: none;
}
.blogposts123-container li::marker {
  color: #78f0c6;
  font-size: 1.5em;
}

.blogposts123-container img {
  width: 100%;
}

/* Desktop Styles */
@media (min-width: 979px) {
  .blogposts123-container img {
    margin-bottom: 16px;
  }
  .blogposts123-container code {
    margin-top: 24px;
  }
  .blogposts123-container h2,
  .blogposts123-container hr {
    margin-top: 48px;
  }
  .blogposts123-container p,
  .blogposts123-container blockquote {
    margin-top: 24px;
  }
  .blogposts123-container blockquote {
    padding: 40px;
    background-color: #d7f2fe;
  }
  .blogposts123-container h3 {
    margin-top: 28px;
  }
  .blogposts123-container ul {
    margin-top: 16px;
  }
  .blogposts123-container li {
    margin-top: 12px;
  }
}

/* Tablet Styles */
@media (min-width: 639px) and (max-width: 979px) {
  .blogposts123-container img {
    margin-bottom: 12px;
  }
  .blogposts123-container code {
    margin-top: 20px;
  }
  .blogposts123-container h2,
  .blogposts123-container hr {
    margin-top: 36px;
  }
  .blogposts123-container p,
  .blogposts123-container blockquote {
    margin-top: 20px;
  }
  .blogposts123-container blockquote {
    padding: 32px;
    background-color: #d7f2fe;
  }
  .blogposts123-container h3 {
    margin-top: 24px;
  }
  .blogposts123-container ul {
    margin-top: 12px;
  }
  .blogposts123-container li {
    margin-top: 8px;
  }
}

/* Mobile Styles */
@media (max-width: 639px) {
  .blogposts123-container img {
    margin-bottom: 8px;
  }
  .blogposts123-container code {
    margin-top: 16px;
  }
  .blogposts123-container h2,
  .blogposts123-container hr {
    margin-top: 28px;
  }
  .blogposts123-container p,
  .blogposts123-container blockquote {
    margin-top: 16px;
  }
  .blogposts123-container blockquote {
    padding: 20px;
    background-color: #d7f2fe;
  }
  .blogposts123-container h3 {
    margin-top: 20px;
  }
  .blogposts123-container ul {
    margin-top: 12px;
  }
  .blogposts123-container li {
    margin-top: 8px;
  }
}

.blogposts123-container blockquote p {
  margin-top: 0;
}

@media (min-width: 979px) {
  .blogpost-list-wrapper a img {
    height: 170px;
    object-fit: cover;
    width: 100%;
  }
}